BASE_URL=/minh-anh/api
PORT=5002

#Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# jwt
JWT_ACCESS_TOKEN_PRIVATE_KEY=minh-anh-secret-key
JWT_ACCESS_TOKEN_EXPIRES=86400000

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD='siginx'

# 
QAAS_API_URL=
QAAS_API_KEY=

# ROLE_IMPORT -> Nhập kho - ROLE_EXPORT -> Xuất kho
ROLE=