BASE_URL=/minh-anh/api
PORT=5002

# JWT
JWT_ACCESS_TOKEN_PRIVATE_KEY=minh-anh-secret-key
JWT_ACCESS_TOKEN_EXPIRES=86400000

# DB
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=siginx
PG_DATABASE=minh-anh

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD='siginx'